* {
    box-sizing: border-box;
}

form > input {
    display: block;
    margin-bottom: 1rem;
}

html {
    font-size: 2ex;
    --cell-size: 1.5rem;
}

body {
    background: lavender;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 4rem;
}

#maze {
    display: flex;
    flex-direction: column;

    margin-right: 4rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
}

.cell[data-cell-type="█"] {
    background: darkslategray;
}

.cell[data-cell-type="░"] {
    background: darkgrey;
    border: 1px dotted white;
}

.cell[data-cell-type="S"] {
    background: cadetblue;
}

.cell[data-cell-type="F"] {
    background: blueviolet;
}

@keyframes rotate {
      0% { transform: rotate(0deg);   }
     50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

#player {
    height: calc(var(--cell-size) - 10%);
    width: calc(var(--cell-size) - 10%);
    animation: rotate 1s linear;
    background-image: linear-gradient(
        105deg, 
        mediumvioletred 39%, 
        rgb(213, 90, 168) 96%
    );
    border-radius: 50%;
}

#winning-message-box {
    display: none;
}

#winning-message-box.you-won {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    text-align: center;

    font-size: 12rem;
    background: rgba(255, 255, 255, 0.5);
}